{% extends "_layout.html" %}

{% block content %}
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid" id="page-content">

    <!-- Loading sign --->
    <div id="loadsign">
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Container for the backup page --->
    <div id="backups-container" class="container-fluid">
      <!-- Row for the repo backups title --->
      <div class="row">
        <div class="col">
          <h2 id="backup_header" class="text-light">Borg repositories backups</h2>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" onclick="window.cacheInvalidate()">
        <i class="fas fa-redo-alt"></i>
        <small>
          <span>Last scan: </span>
          <span id="refresh-time"></span>
        </small>
      </button>

      <!-- Row for the repo backups graph --->
      <div class="row" id="graph-row">
        <div class="col">
          <div class="card text-white">
            <div class="card-body">
              <div id="backup-plot"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Row for the repos --->
      <div class="row " id="repos-row">
        <div class="col" id="repo-card-list">
          <!-- Repo cards are added here --->
        </div>
        <!-- End of repo cards --->
      </div>
    </div>
    <!-- End of backup page --->

    <!-- Container for the log page --->
    <div id="logs-container" class="container-fluid">
      <!-- Row for the repo backups title --->
      <div class="row">
        <div class="col">
          <h2 id="backup_header" class="text-light">Borg repositories logs</h2>
        </div>
      </div>

      <!-- Row for the repos --->
      <div class="row " id="repologs-row">
        <div class="col-4" id="repologs-card-list">
          <div class="row " id="repologs-card-list">
            <!-- Repo cards are added here --->
          </div>
        </div>
        <div class="col" id="logdata-card">
          <!-- Log content card here --->
          <div class="card text-white bg-secondary">
            <div class="card-header">
              <span id="logcontent_name"></span>
            </div>
            <div class="card-body text-monospace text-wrap overflow-auto log-content">
              <small id="logcontent_data">
            </small>
            </div>
          </div>
        </div>
        <!-- End of repo cards --->
      </div>
    </div>
    <!-- End of log page --->

  </div>
</div>
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
{% endblock %}
