html { height: 100%; }

body {
background: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

#page-content-wrapper {
    padding-top: 75px;
}

nav {
    background: black;
}
#backup_header {
    text-align: center;
}

/* Loading spinner styling */
#loadsign {
  margin:80px;
  text-align:center;
}
#loadsign .spinner-border {
  width: 3rem; height: 3rem;
}

#backups-container { display:none; }
#logs-container { display:none; }

/* Nav bar styling */
.borg-green {color: #00dd00;}

/* Repo status info styling */
.backup-success {color: #00FF00;}
.backup-warning {color: #FF6700;}
.backup-error {color: #FF0000;}
.backup-success .icon-success {display:inline-block;}
.backup-success .icon-warning {display:none;}
.backup-success .icon-error {display:none;}
.backup-warning .icon-success {display:none;}
.backup-warning .icon-warning {display:inline-block;}
.backup-warning .icon-error {display:none;}
.backup-error .icon-success {display:none;}
.backup-error .icon-warning {display:none;}
.backup-error .icon-error {display:inline-block;}
.repo-badge {
  margin-left: 10px;
  margin-right: 10px;
}

/* Repo cards styling */
.repo-card-collapse, .repo-card-collapse:hover {
  color: white;}
.card {margin-bottom:10px;}
.backup-table {
  font-size: 12px;
}


/* Backup graph styling */
#backup-plot {
  height:250px;
}

.loglink:hover {
  color: hotpink;
  cursor: pointer;
}

.log-content {
    max-height:75vh;
}
