[Unit]
Description=Run a daily backup of this host
Requires=borg_cleaner.service

[Timer]
#Unit=borg_cleaner.service
OnCalendar=weekly
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
